<header class="container-fluid">
                    
  <div class="headerDiv"><img src={{elfak}} class="headerPicture" alt="ELFAK" /></div>
  <h2> SEF- <small> Studenti Elektronskog fakulteta</small></h2>  
</header>

