header {
    background-color: grey;
    color: white;
    padding: 5px;
}
h2 {
    display:inline;
}
.headerDiv{
    display:inline;
    margin-left:10px;
     margin-right:10px
  }
  
.headerPicture{
  
    width:70px;
    height:70px;
}