<div class=" backgroundColor2"  >              
    <div class="row main" id="bodyPart">
                        
        <div class="other" id="other">
            <div id='addF'>

                    <label><b>Uneti podatke za dodavanje novog studenta:</b> </label>
                    <input  [(ngModel)]="student.ime"   type='text' class='form-control inputUpdate aaa' placeholder='Ime' id='imeA'/>
                    <input matInput id='prezimeA' type='text' class='form-control inputUpdate' placeholder='Prezime' [(ngModel)]="student.prezime"/>
                    <input matInput id='brIndexaA' type='text' class='form-control inputUpdate' placeholder='Broj indexa' [(ngModel)]="student.brIndexa"/>
                    <input matInput id='brIspitaA' type='text' class='form-control inputUpdate' placeholder='Broj položenih ispita' [(ngModel)]="student.brPolozenihIspita"/>
                    <input matInput id='prosek' type='text' class='form-control inputUpdate' placeholder='Prosek' [(ngModel)]="student.prosek"/>

            
                    <button mat-raised-button  class="btn btn-md inputUpdate" id="dugmeAdd" (click)="onAddStudent()"  routerLink="" >Dodaj studenta </button>

            </div>
        </div>
                    
    </div>        
</div>