<div class="App">
        <app-header></app-header>
        <div class="row">
                        
                <div class="col-lg-2 " style="margin-right: 0px; padding-right: 0px"> <app-sidebar> </app-sidebar></div>
                <div class="col-lg-10  backgroundColor2 right" >  <router-outlet></router-outlet></div>      
                    
        </div>
        <app-footer></app-footer>
</div>

