.backgroundColor{
    background-color:lavender;
  }
.backgroundColor2{
    background-color:#F9EFB0;
  } 

  .row.content {height: 650px;}

  .selection {
    background-color:#99CCFF;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding:10px;
}


.columnNav {
  width: 170px;
  float: left;
  padding-bottom: 100px;
}

@media screen and (max-width: 	991px) {
    
  
  
    .navbar{
        height: auto;
        padding: 16px;
        width:auto;
      }
  
    .columnNav{
        height: auto;
        width:auto;
        padding: 18px;
        
    }
    .selection{
      float:left;
      width:175px;
      margin-top: 8px;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 13px;
    }


}

@media screen and (max-width: 	1100px) {

  .row.content {height: auto; } 

  .selection{
        margin-left:1px;
    }
  .navbar{
    height: auto;
    padding: 15px;
    width:auto;
    
  }


}