<div class="navbar backgroundColor">            
    <div class="row content">
        <div class="columnNav">
        
                <button mat-raised-button color="primary" class="btn-block selection buttonNav" id="btnPocetna" routerLink="">Početna strana</button>
        
                <button mat-raised-button color="primary" class="btn-block selection buttonNav" id="btnPretrazi" routerLink="prikazi">Prikaži studente</button>
                               
                <button mat-raised-button color="primary" class="btn-block selection buttonNav" id="btnDodaj" routerLink="dodaj">Dodaj studenta</button>
                
        </div>
    </div>
</div>

