 @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


  @media screen and (max-width: 	991px) {
    
    .main{height: auto;min-height: 400px;}
    
      .navbar{
          height: auto;
          padding: 16px;
          width:auto;
        }
    
      .columnNav{
          height: auto;
          width:auto;
          padding: 18px;
          
      }
      .selection{
        float:left;
        width:175px;
        margin-top: 8px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 13px;
      }
      .portletsArray{
        margin:15px;
        
      }

  
  }
  
  @media screen and (max-width: 	1100px) {

    .row.content {height: auto; } 
    .main{
      height :auto;
    }
    .selection{
          margin-left:1px;
      }
    .portletsArray{
        margin:15px;
    }
    
    .navbar{
      height: auto;
      padding: 15px;
      width:auto;
      
    }


  }
