<div class="data">

  <h2 >STUDENTI:</h2>

  <div class="array" *ngFor="let student of students$ | async" >
    <div class="student">
      <label class="title">Broj indeksa: {{ student.brIndexa }}</label>
    
      <h6>Ime: {{ student.ime }}</h6>
      <h6>Prezime: {{ student.prezime }}</h6>
      <h6>Broj polozenih ispita: {{ student.brPolozenihIspita }}</h6>
      <h6>Prosek:{{ student.prosek }} </h6>
      <button mat-button color="accent" class="dugme" (click)="onDeleteStudent(student.id)" >Obrisi</button>  
    
    </div>
 
  </div>

</div>

