.student{
    border: 2px dashed grey;
    width:300px;
    height: 225px;
    float:left;
    margin:10px;
    padding: 10px;
    background: white;

}
.data{
    overflow: auto;
    height: 670px;
}
.title{
    border-bottom: 0.5px solid black;
    width:100%;
    padding-bottom:15px;
}

.dugme{
    background: grey;
}

