.naslov{
    text-align:center; 
    margin-bottom:65px;
    }
  
  .tekst{
    color:grey;
      
  }
  #pocetna{
    margin:50px;
    }

    .backgroundColor{
        background-color:lavender;
      }
    .backgroundColor2{
        background-color:#F9EFB0;
      }