
            <div id="pocetna">
                <div class="naslov"><h3>Dobro došli na sajt koji služi za pregled studenata Elektronskog fakulteta u Nišu !</h3> </div>
                
                <div class="tekst">
                    <h4> Korisni linkovi povezani sa Elektronskim fakultetom:<br/> </h4>
                    <ul>
                    <li><a href="http://www.elfak.ni.ac.rs">ELFAK</a>-Sajt fakulteta</li>
                    <li><a href="https://sip.elfak.ni.ac.rs/">SIP</a>-Studentski informativni portal</li>
                    <li><a href="https://sicef.info">SICEF</a>-Studentski inovacioni centar Elektronsog fakulteta</li>
                    <li><a href="https://cs.elfak.ni.ac.rs/nastava/">CS</a>-Katedra za računarstvo</li>
                    </ul>
                
                </div>
             
            </div>

